.app {
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
        "header"
        "contenido"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: 50px auto auto;
}

.encabezado {
    grid-area: header;
    align-items: center;
    display: flex;
    padding: 0 2rem;
}

.menu__link {
    color: #333333;
    padding: 0 2rem;
}

.menu__link:hover,
.menu_link:active {
    border-bottom: 2px solid #0073e6;
}

.contenido {
    grid-area: contenido;
    padding: 0 2rem;
}

.rodapie {
    grid-area: footer;
    background: #fdfdfd;
    color: #333333;
    padding: 1rem;
    text-align: center;
}